.projects {
    margin-top: 150px;
    padding: 20px 0;
    color: #262621;

    .projects-wrapper {

        .top-of-section-texts-wrapper {
            display: flex;
            justify-content: flex-start;

            .top-of-section-texts {
                width: 40%;
                padding: 5px 0;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                border-top: 5px solid #262621;

                .top-of-section-texts-items {
                    width: 95%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    text-align: right;

                    .left-text {
                        margin-right: 100px;
                        display: flex;
                        align-items: flex-start;

                        .smaller-left-text {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 25px;
                        }

                        .left-text-number {
                            margin-left: 2px;
                        }
                    }

                    p {
                        text-transform: uppercase;
                        font-size: 2rem;
                        line-height: 40px;
                    }
                }
            }
        }

        .projectlist-wrapper {
            margin-top: 100px;
        }

        
        .bottom-wrapper {
            margin-top: 100px;
            padding: 10px 20px;

            .bottom-smalltext-wrapper {

                p {
                    font-size: 1.3rem;
                    font-weight: 400;
                }
            }

            .viewallproject-btn-wrapper {
                width: fit-content;

                .viewallproject-anchorTag {
                    color: inherit;
                    text-decoration: none;

                    .viewallproject-btn {
                        margin-top: 40px;
                        margin-left: 20px;
                        margin-right: 0;
                        width: fit-content;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        cursor: pointer;
                        transition: .5s ease;
        
                        p {
                            margin-right: 5px;
                            font-size: 2rem;
                            font-weight: 400;
                        }
        
                        .viewallproject-btn-icon {
                            font-size: 2.2rem;
                            transition: .5s ease;
                        }
                    }

                    .viewallproject-btn:hover {
                        margin-left: 40px;
        
                        p {
                            font-weight: 500;
                            text-decoration: underline;
                        }
        
                        .viewallproject-btn-icon {
                            margin-left: 5px;
                            font-size: 1.9rem;
                        }
                    }

                }
                
                
            }

            
        }
    }
}


//MEDIAQUIERIES

//Extra-large-to-Large Screens
@media (max-width: 1400px) {

    .projects {
    
        .projects-wrapper {
    
            .top-of-section-texts-wrapper {
    
                .top-of-section-texts {
    
                    .top-of-section-texts-items {
    
                        .left-text {
    
                            .smaller-left-text {
                                font-size: 1rem;
                                font-weight: 700;
                                line-height: 25px;
                            }
    
                            .left-text-number {
                                margin-left: 2px;
                            }
                        }
    
                        p {
                            font-size: 1.7rem;
                        }
                    }
                }
            }
    
            .projectlist-wrapper {
                margin-top: 100px;
            }
    
            
            .bottom-wrapper {
                margin-top: 50px;
    
                .bottom-smalltext-wrapper {
    
                    p {
                        font-size: 1.3rem;
                    }
                }
    
                .viewallproject-btn-wrapper {
    
                    .viewallproject-anchorTag {
    
                        .viewallproject-btn {
            
                            p {
                                font-size: 1.7rem;
                            }
            
                            .viewallproject-btn-icon {
                                font-size: 2rem;
                            }
                        }
    
                        .viewallproject-btn:hover {
                            margin-left: 40px;
                        }
    
                    }
                    
                    
                }
    
                
            }
        }
    }    
}


//Large-to-Medium Screens
@media (max-width: 1200px) {

    .projects {
    
        .projects-wrapper {
    
            .top-of-section-texts-wrapper {
    
                .top-of-section-texts {
                    width: 45%;
    
                    .top-of-section-texts-items {
    
                        .left-text {
    
                            .smaller-left-text {
                                font-size: 1rem;
                            }
    
                            .left-text-number {
                                margin-left: 2px;
                            }
                        }
    
                        p {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
    
            .projectlist-wrapper {
                margin-top: 100px;
            }
    
            
            .bottom-wrapper {
                margin-top: 50px;
    
                .bottom-smalltext-wrapper {
    
                    p {
                        font-size: 1.3rem;
                    }
                }
    
                .viewallproject-btn-wrapper {
    
                    .viewallproject-anchorTag {
    
                        .viewallproject-btn {
            
                            p {
                                font-size: 1.5rem;
                                font-weight: 500;
                            }
            
                            .viewallproject-btn-icon {
                                font-size: 2rem;
                            }
                        }
    
                        .viewallproject-btn:hover {
                            margin-left: 40px;
                        }
                    } 
                }
            }
        }
    } 
}


//Medium Screens
@media (max-width: 1024px) {

    .projects {
    
        .projects-wrapper {
    
            .top-of-section-texts-wrapper {
    
                .top-of-section-texts {
                    width: 45%;
    
                    .top-of-section-texts-items {
    
                        .left-text {
    
                            .smaller-left-text {
                                font-size: 0.8rem;
                            }
    
                            .left-text-number {
                                margin-left: 2px;
                            }
                        }
    
                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
    
            .projectlist-wrapper {
                margin-top: 100px;
            }
    
            
            .bottom-wrapper {
                margin-top: 50px;
    
                .bottom-smalltext-wrapper {
    
                    p {
                        font-size: 1.2rem;
                    }
                }
    
                .viewallproject-btn-wrapper {
    
                    .viewallproject-anchorTag {
    
                        .viewallproject-btn {
            
                            p {
                                font-size: 1.4rem;
                                font-weight: 500;
                            }
            
                            .viewallproject-btn-icon {
                                font-size: 1.8rem;
                            }
                        }
                    } 
                }
            }
        }
    } 
}



//Medium-to-Small Screens
@media (max-width: 900px) {

    .projects {
    
        .projects-wrapper {
    
            .top-of-section-texts-wrapper {
    
                .top-of-section-texts {
                    width: 49%;
    
                    .top-of-section-texts-items {
    
                        .left-text {
    
                            .smaller-left-text {
                                font-size: 0.7rem;
                            }
    
                            .left-text-number {
                                margin-left: 2px;
                            }
                        }
    
                        p {
                            font-size: 1rem;
                            font-weight: 500;
                        }
                    }
                }
            }
    
            .projectlist-wrapper {
                margin-top: 100px;
            }
    
            
            .bottom-wrapper {
                margin-top: 30px;
    
                .bottom-smalltext-wrapper {
    
                    p {
                        font-size: 1rem;
                    }
                }
    
                .viewallproject-btn-wrapper {
    
                    .viewallproject-anchorTag {
    
                        .viewallproject-btn {
            
                            p {
                                font-size: 1.2rem;
                                font-weight: 500;
                            }
            
                            .viewallproject-btn-icon {
                                font-size: 1.8rem;
                            }
                        }
                    } 
                }
            }
        }
    } 

}