.project {
    height: 200px;
    margin-top: 20px;
    padding: 20px;
    background-color: hsl(49, 37%, 94%);
    border: 2px solid #33332d;
    box-shadow: 1px 3px #33332d;
    transition: .5s ease;
    cursor: pointer;
    

    .project-wrapper {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .project-details-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .project-details-left {
                display: flex;

                .project-deco {
                    margin-right: 70px;
                    display: flex;
                    align-items: center;
                    color: #000;
                    transition: .5s ease;
    
                    .line {
                        width: 70px;
                        height: 1px;
                        background: #d8d8d8;
                        // margin-top: 3rem;
                        margin-right: .8rem;
                        transition: .5s ease;
                    }
    
                    .project-number {
                        font-size: 25px;
                        font-weight: 500;
                        transition: .3s ease;
                    }
                }
    
                .project-details {
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    transition: .5s ease;
    
                    .project-name {
                        font-size: 35px;
                        font-weight: 700;
                    }
    
                    .project-type {
                        margin-top: 10px;
                        font-size: 15px;
                        font-weight: 400;
                    }
                }
            }

            .project-details-right {
                display: flex;
                align-items: center;

                .project-btn {
                    margin-right: 40px;
                    padding: 10px;
                    // border: 1px solid #33332d;

                    p {
                        font-style: italic;
                    }
                }
            }
        }
    }
}

.project:hover {
    box-shadow: 5px 7px #33332d;
    background-color: #33332d;
    color: hsl(49, 37%, 94%);

    .project-wrapper {

        .project-details-wrapper {

            .project-details-left {

                .project-deco {
                    margin-right: 50px;
                    color: #fff;
    
                    .line {
                        width: 100px;
                    }
    
                    .project-number {
                        font-size: 75px;
                        font-weight: 600;
                    }
                }
    
                .project-details {
    
                    .project-name {
                        font-size: 55px;
                        font-weight: 700;
                    }
    
                    .project-type {
                        margin-top: 10px;
                        font-size: 15px;
                        font-weight: 400;
                    }
                }
            }

            .project-details-right {
                display: flex;
                align-items: center;

                .project-btn {
                    margin-right: 40px;
                    padding: 10px;
                    // border: 1px solid #fff;

                    p {
                        font-style: italic;
                    }
                }
            }
        }
    }
}