.aboutMe {
    margin-top: 200px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262621;

    .aboutMe-wrapper {
        // width: 100%;

        .top-of-section-texts-wrapper {
            display: flex;
            justify-content: flex-end;

            .top-of-section-texts {
                width: 40%;
                padding: 5px 0;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                border-top: 5px solid #262621;

                .top-of-section-texts-items {
                    width: 95%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    text-align: right;

                    .left-text {
                        margin-right: 100px;
                        display: flex;
                        align-items: flex-start;

                        .smaller-left-text {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 25px;
                        }

                        .left-text-number {
                            margin-left: 2px;
                        }
                    }

                    p {
                        text-transform: uppercase;
                        font-size: 2rem;
                        line-height: 40px;
                    }
                }
            }
        }

        .aboutMe-main-content-wrapper {

            .aboutMe-text-main-wrapper {
                width: 100%;
                .aboutMe-text-main {
                    margin-top: 200px;
                    font-size: 5rem;
                    font-weight: 300;
                    line-height: 90px;
    
                    span {
                        font-weight: 400;
                        text-decoration: underline;
                    }
                }
            }

            .aboutMe-stacklist-wrapper {
                margin-top: 50px;
                margin-left: 580px;

                p {
                    width: 360px;
                    font-size: 1.2rem;
                    line-height: 20px;

                    span {
                        font-weight: 700;
                        font-size: 1rem;
                        text-decoration: underline;
                        letter-spacing: -2px;
                    }
                    
                }

                .aboutMe-links {
                    color: #262621;
                    font-weight: 700;
                    font-size: 1rem;
                    letter-spacing: -2px;
                }
            }

            .aboutMe-hobbies-wrapper {
                margin-top: 50px;
                display: flex;
                justify-content: flex-end;
                text-align: right;

                p {
                    width: 520px;
                    font-size: 1.2rem;
                    line-height: 20px;

                    span {
                        margin-left: 190px;
                        font-weight: 700;
                        font-size: 1rem;
                        text-decoration: underline;
                        letter-spacing: -2px;
                    }
                    
                    .aboutMe-links {
                        color: #262621;
                        font-weight: 700;
                        font-size: 1rem;
                        letter-spacing: -2px;
                    }
                }
            }

            .aboutMe-quote-wrapper {
                margin-top: 100px;
                display: flex;
                justify-content: flex-start;
                text-align: left;

                p {
                    width: 80%;
                    font-size: 1rem;
                    line-height: 20px;
                    font-style: italic;
                    color: #262621;

                    span {
                        // margin-left: 100px;
                        font-weight: 700;
                        font-size: 0.9rem;
                        text-decoration: underline;
                        letter-spacing: -2px;
                    }
                    
                    .aboutMe-links {
                        color: #262621;
                        font-weight: 700;
                        font-size: 1rem;
                        letter-spacing: -2px;
                    }
                }
            }
        }
    } 
}


//MEDIAQUIERIES

//Extra-large-to-Large Screens
@media (max-width: 1400px) {

    .aboutMe {
        margin-top: 150px;

        .aboutMe-wrapper {
    
            .top-of-section-texts-wrapper {
    
                .top-of-section-texts {
    
                    .top-of-section-texts-items {
    
                        .left-text {
    
                            .smaller-left-text {
                                font-size: 1rem;
                            }
                        }
    
                        p {
                            font-size: 1.7rem;
                        }
                    }
                }
            }
    
            .aboutMe-main-content-wrapper {
    
                .aboutMe-text-main-wrapper {
                    .aboutMe-text-main {
                        margin-top: 100px;
                        font-size: 3.5rem;
                        font-weight: 300;
                        line-height: 70px;
                    }
                }
    
                .aboutMe-stacklist-wrapper {
                    margin-left: 400px;
                }
            }
        } 
    }

}



//Large-to-Medium Screens
@media (max-width: 1200px) {

    .aboutMe {
        margin-top: 150px;

        .aboutMe-wrapper {
    
            .top-of-section-texts-wrapper {
    
                .top-of-section-texts {
                    width: 45%;
    
                    .top-of-section-texts-items {
    
                        .left-text {
    
                            .smaller-left-text {
                                font-size: 1rem;
                            }
                        }
    
                        p {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
    
            .aboutMe-main-content-wrapper {
    
                .aboutMe-text-main-wrapper {
                    .aboutMe-text-main {
                        margin-top: 100px;
                        font-size: 3rem;
                        font-weight: 300;
                        line-height: 60px;
                    }
                }
    
                .aboutMe-stacklist-wrapper {
                    margin-left: 360px;
                }
            }
        } 
    }

}



//Medium Screens
@media (max-width: 1024px) {

    .aboutMe {
        margin-top: 150px;

        .aboutMe-wrapper {
    
            .top-of-section-texts-wrapper {
    
                .top-of-section-texts {
                    width: 45%;
    
                    .top-of-section-texts-items {
    
                        .left-text {
    
                            .smaller-left-text {
                                font-size: 0.8rem;
                            }
                        }
    
                        p {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
    
            .aboutMe-main-content-wrapper {
    
                .aboutMe-text-main-wrapper {
                    .aboutMe-text-main {
                        margin-top: 100px;
                        font-size: 2.5rem;
                        font-weight: 300;
                        line-height: 50px;
                    }
                }
    
                .aboutMe-stacklist-wrapper {
                    margin-left: 280px;

                    p {
                        width: 320px;
                        font-size: 1rem;
                        line-height: 15px;
    
                        span {
                            font-weight: 700;
                            font-size: 0.8rem;
                            text-decoration: underline;
                            letter-spacing: -2px;
                        }
                        
                    }

                    .aboutMe-links {
                        font-size: 0.8rem;
                    }
                }

                .aboutMe-hobbies-wrapper {
                    margin-top: 30px;
    
                    p {
                        width: 420px;
                        font-size: 1rem;
                        line-height: 15px;
    
                        span {
                            font-size: 0.8rem;
                        }
                        
                        .aboutMe-links {
                            font-size: 0.8rem;
                        }
                    }
                }

                .aboutMe-quote-wrapper {
    
                    p {
                        width: 80%;
                        font-size: 0.8rem;
                        line-height: 15px;
    
                        span {
                            font-size: 0.8rem;
                        }
                        
                        .aboutMe-links {
                            color: #262621;
                            font-weight: 700;
                            font-size: 1rem;
                            letter-spacing: -2px;
                        }
                    }
                }
            }
        } 
    }
}



//Medium-to-Small Screens
@media (max-width: 900px) {

    .aboutMe {
        margin-top: 150px;

        .aboutMe-wrapper {
    
            .top-of-section-texts-wrapper {
    
                .top-of-section-texts {
                    width: 49%;
    
                    .top-of-section-texts-items {
    
                        .left-text {
    
                            .smaller-left-text {
                                font-size: 0.6rem;
                            }
                        }
    
                        p {
                            font-size: 1rem;
                            font-weight: 500;
                        }
                    }
                }
            }
    
            .aboutMe-main-content-wrapper {
    
                .aboutMe-text-main-wrapper {
                    .aboutMe-text-main {
                        margin-top: 100px;
                        font-size: 2.2rem;
                        font-weight: 300;
                        line-height: 45px;
                    }
                }
    
                .aboutMe-stacklist-wrapper {
                    margin-left: 260px;

                    p {
                        width: 310px;
                        font-size: 0.9rem;
                        line-height: 15px;
    
                        span {
                            font-weight: 700;
                            font-size: 0.8rem;
                            text-decoration: underline;
                            letter-spacing: -2px;
                        }
                        
                    }

                    .aboutMe-links {
                        font-size: 0.8rem;
                    }
                }

                .aboutMe-hobbies-wrapper {
                    margin-top: 30px;
    
                    p {
                        width: 380px;
                        font-size: 0.9rem;
                        line-height: 15px;
    
                        span {
                            font-size: 0.8rem;
                        }
                        
                        .aboutMe-links {
                            font-size: 0.8rem;
                        }
                    }
                }

                .aboutMe-quote-wrapper {
    
                    p {
                        width: 80%;
                        font-size: 0.8rem;
                        line-height: 15px;
    
                        span {
                            font-size: 0.8rem;
                        }
                        
                        .aboutMe-links {
                            color: #262621;
                            font-weight: 700;
                            font-size: 1rem;
                            letter-spacing: -2px;
                        }
                    }
                }
            }
        } 
    }
}