.aboutMe {
    margin-top: 70px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .aboutMe-wrapper {
        width: 100%;

        .projects-toptext {
            width: 100%;
            padding: 20px 0;
    
            .topmost-smalltext-wrapper {
                display: flex;
                align-items: center;
    
                p {
                    font-size: 14px;
                    margin-right: 10px;
                }
    
                // span {
                //     font-weight: 500;
                // }
            }
    
            .topmost-bigtext-wrapper {
                
                margin-top: 20px;
                display: flex;
                align-items: center;
    
                .topmost-bigtext {
                    font-size: 35px;
                    font-weight: 700;
                }
    
                .folder-icon {
                    font-size: 45px;
                    margin-left: 20px;
                }
            }
        }

        .aboutMe-main-content-wrapper {

            .aboutMe-text-main-wrapper {
                width: 82%;
                .aboutMe-text-main {
                    margin-top: 100px;
                    font-size: 2.5rem;
                    font-weight: 300;
                    line-height: 60px;
    
                    span {
                        font-weight: 400;
                        text-decoration: underline;
                    }
                }
            }

            .aboutMe-stacklist-wrapper {
                margin-top: 50px;
            }
        }
        
    }

    
}