
.hero {
    margin-top: 70px;
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    overflow-y: hidden;

    .hero-wrapper {
        display: flex;
        align-items: center;

        .hero-left {
            margin: 0 10px;
            padding: 60px 60px 0 0;
            flex: 6;

            .introTexts {
                margin-bottom: 30px;

                h1 {
                    font-size: 4.5rem;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
    
                p {
                    font-size: 2rem;
                    font-weight: 300;

                    span {
                        font-weight: 600;
                    }
                }
            }


            .btnWrapper {
                width: 32.5%;
                // border-bottom: 1px solid #000;

                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    // margin-left: 4px;
                    padding: 10px 25px 3px 0;
                    text-decoration: none;
                    font-size: 1.3rem;
                    font-weight: 300px;
                    color: inherit;
                    border-bottom: 2px solid hsl(45, 14%, 89%);
                    // box-shadow: 3px 5px #33332d;
                    transition: .1s;

                    .btn-icon {
                        font-size: 1.5rem;
                    }
                }

                a:hover {
                    // text-decoration: underline;
                    border-bottom: 2px solid #262621;
                }
            }

            .hero-social-links-wrapper {
                margin-top: 100px;

                .socialLink:hover {
                    text-decoration: none;
                }

                
            }
            
        }

        .hero-right {
            flex: 6;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            .hero-right-bg {
                width: 90%;
            }

            .image-wrapper {
                position: absolute;
                width: 50%;
                padding-top: 20px;
                animation: float 3s ease infinite;

                .statue-image {
                    width: 100%;
                }
            }

            @keyframes float {
                0% {
                    transform: translateY(-10px);
                }

                50% {
                    transform: translateY(20px);
                }

                100% {
                    transform: translateY(-10px);
                }
            }
        }
    }
}

//MEDIAQUIERIES

//Extra-large-to-Large Screens
@media (max-width: 1400px) {
    .hero {
        margin-top: 50px;
    
        .hero-wrapper {
    
            .hero-left {
                margin: 0 10px;
                padding: 60px 0 0 0;
                flex: 6;
    
                .introTexts {
                    margin-bottom: 30px;
    
                    h1 {
                        font-size: 3.5rem;
                    }
        
                    p {
                        font-size: 1.5rem;
    
                        span {
                            font-weight: 600;
                        }
                    }
                }
    
    
                .btnWrapper {
                    width: 35%;
                    // border-bottom: 1px solid #000;
    
                    a {
                        font-size: 1rem;
                        
                        .btn-icon {
                            font-size: 1.5rem;
                        }
                    }
                }
    
                .hero-social-links-wrapper {
                    margin-top: 80px;
                    
                }
                
            }
        }
    }
  }


//Large-to-Medium Screens
@media (max-width: 1200px) {

    .hero {
        margin-top: 70px;
    
        .hero-wrapper {
    
            .hero-left {
                margin: 0 10px;
                // padding: 60px 60px 0 0;
                flex: 6;
    
                .introTexts {
                    margin-bottom: 30px;
    
                    h1 {
                        font-size: 3rem;
                    }
        
                    p {
                        font-size: 1.3rem;
                    }
                }
    
    
                .btnWrapper {
                    width: 35%;
                    // border-bottom: 1px solid #000;
    
                    a {
                        font-size: 1rem;
                        
                        .btn-icon {
                            font-size: 1.5rem;
                        }
                    }
                }
    
                .hero-social-links-wrapper {
                    margin-top: 80px;
                    
                }
                
            }
        }
    }

  }


//Medium Screens
@media (max-width: 1024px) {

    .hero {
        margin-top: 50px;
    
        .hero-wrapper {
    
            .hero-left {
                margin: 0 10px;
                padding: 60px 0 0 0;
                flex: 6;
    
                .introTexts {
                    margin-bottom: 30px;
    
                    h1 {
                        font-size: 2.5rem;
                    }
        
                    p {
                        font-size: 1rem;
                    }
                }
    
    
                .btnWrapper {
                    width: 45%;
                    // border-bottom: 1px solid #000;
    
                    a {
                        font-size: 0.9rem;
                        
                        .btn-icon {
                            font-size: 1.2rem;
                        }
                    }
                }
    
                .hero-social-links-wrapper {
                    margin-top: 70px;
                    
                }
                
            }
        }
    }
}


//Medium-to-Small Screens
@media (max-width: 920px) {

    .hero {
        height: fit-content;
    
        .hero-wrapper {
    
            .hero-left {
                margin: 0 10px;
                // padding: 60px 0 0 0;
                flex: 6;
    
                .introTexts {
                    margin-bottom: 30px;
    
                    h1 {
                        font-size: 2.5rem;
                    }
        
                    p {
                        font-size: 1rem;
                    }
                }
    
    
                .btnWrapper {
                    width: 48%;
                    // border-bottom: 1px solid #000;
    
                    a {
                        font-size: 0.8rem;
                        
                        .btn-icon {
                            font-size: 1.2rem;
                        }
                    }
                }
    
                .hero-social-links-wrapper {
                    margin-top: 70px;
                    
                }
                
            }
        }
    }
}


//Medium-to-Small Screens
@media (max-width: 540px) {

    .hero {
        // margin-top: 70px;
        padding-bottom: 20px;
        height: fit-content;
    
        .hero-wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            .hero-left {
                order: 2;
    
                .introTexts {
                    margin-bottom: 30px;
    
                    h1 {
                        font-size: 2rem;
                    }
        
                    p {
                        font-size: 1rem;
                    }
                }
    
    
                .btnWrapper {
                    width: 50%;
                    // border-bottom: 1px solid #000;
    
                    a {
                        font-size: 0.7rem;
                        
                        .btn-icon {
                            font-size: 1.2rem;
                        }
                    }
                }
    
                .hero-social-links-wrapper {
                    margin-top: 30px;
                    
                }
                
            }
        }
    }

  }