.contact {
    position: relative;
    margin-top: 100px;
    // height: 100vh;
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262621;

    .contact-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contact-center-texts {
            text-align: center;

            .contact-bold-text {
                font-size: 5.5rem;
                font-weight: 700;
            }

            .contact-small-text {
                margin-top: 60px;
                font-size: 1.5rem;
            }
        }

        .say-hello-btn {
            margin-top: 70px;
            padding: 15px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 600;
            text-decoration: none;
            color: #262621;
            border: 2px solid #262621;
            cursor: pointer;
            transition: .5s;

            .say-hello-btn-icon {
                margin-left: 10px;
                font-size: 1.8rem;
            }
        }

        .say-hello-btn:hover {
            background-color: #262621;
            color: hsl(49, 37%, 94%);
            border: 2px solid hsl(49, 37%, 94%);
        }

        .underlay-icon-wrapper {
            position: absolute;
            top: 80px;
            right: 250px;
            z-index: -50;
            

            .underlay-icon {
                font-size: 13rem;
                z-index: -50;
            }
        }

        .footer-social-links-wrapper {
            // border: 1px solid #000;
            margin: 40px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: inherit;
            }

            .footer-social-links {
                margin: 0 30px;
                padding: 5px;
                font-size: 3.5rem;
                border-radius: 0.5rem;
                border: 1px solid hsl(49, 37%, 94%);
                transition: .5s;
            }

            .footer-social-links:hover {
                background-color: #33332d;
                color: hsl(49, 37%, 94%);
                border-color: #33332d;
            }
        }
    }
}


//MEDIAQUIERIES

@media (max-width: 1400px) {

    .contact {
    
        .contact-wrapper {
    
            .contact-center-texts {
    
                .contact-bold-text {
                    font-size: 4.2rem;
                }
    
                .contact-small-text {
                    margin-top: 60px;
                    font-size: 1rem;
                }
            }
    
            .say-hello-btn {
                font-size: 1.4rem;

                .say-hello-btn-icon {
                    font-size: 1.5rem;
                }
            }
        }
    }
}



@media (max-width: 1024px) {

    .contact {
    
        .contact-wrapper {
    
            .contact-center-texts {
    
                .contact-bold-text {
                    font-size: 3.6rem;
                }
    
                .contact-small-text {
                    margin-top: 40px;
                    font-size: 0.9rem;
                }
            }
    
            .say-hello-btn {
                font-size: 1.1rem;
            }

            .footer-social-links-wrapper {
                margin: 35px 0;
    
                .footer-social-links {
                    font-size: 2.7rem;
                }
            }
        }
    }

}



@media (max-width: 920px) {

    .contact {
        height: fit-content;
        padding: 20px 0 60px 0;
    
        .contact-wrapper {
    
            .contact-center-texts {
    
                .contact-bold-text {
                    font-size: 3rem;
                }
    
                .contact-small-text {
                    margin-top: 20px;
                    font-size: 0.7rem;
                }
            }
    
            .say-hello-btn {
                margin-top: 40px;
                padding: 10px 15px;
                font-size: 0.9rem;
            }

            .footer-social-links-wrapper {
                margin: 35px 0;
    
                .footer-social-links {
                    font-size: 2.5rem;
                }
            }
        }
    }
}



//Medium-to-Small Screens
@media (max-width: 540px) {

    .contact {
        height: fit-content;
        padding: 20px 30px 40px 30px;
        text-align: center;
    
        .contact-wrapper {
    
            .contact-center-texts {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .contact-bold-text {
                    font-size: 1.5rem;
                }
    
                .contact-small-text {
                    margin-top: 20px;
                    width: 80%;
                    font-size: 0.5rem;
                }
            }
    
            .say-hello-btn {
                margin-top: 40px;
                padding: 5px 7px;
                font-size: 0.6rem;

                .say-hello-btn-icon {
                    margin-left: 5px;
                    font-size: 0.9rem;
                }
            }

            .footer-social-links-wrapper {
                margin: 25px 0;
                display: flex;
                justify-content: center;
                align-items: center;
    
                a {
                    color: inherit;
                }
    
                .footer-social-links {
                    margin: 0 2px;
                    padding: 5px;
                    font-size: 2rem;
                }
            }
        }
    }
    
}