.contact {
    position: relative;
    margin-top: 100px;
    // height: 100vh;
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262621;

    .contact-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contact-center-texts {
            text-align: center;

            .contact-bold-text {
                font-size: 60px;
                font-weight: 700;
            }

            .contact-small-text {
                margin-top: 60px;
            }
        }

        .say-hello-btn {
            margin-top: 70px;
            padding: 15px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            color: #262621;
            border: 2px solid #262621;
            cursor: pointer;
            transition: .5s;

            .say-hello-btn-icon {
                margin-left: 10px;
                font-size: 1.5rem;
            }
        }

        .say-hello-btn:hover {
            background-color: #262621;
            color: hsl(49, 37%, 94%);
            border: 2px solid hsl(49, 37%, 94%);
        }

        .underlay-icon-wrapper {
            position: absolute;
            top: 80px;
            right: 250px;
            z-index: -50;
            

            .underlay-icon {
                font-size: 13rem;
                z-index: -50;
            }
        }
    }
}