* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    font-family: 'IBM Plex Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: hsl(49, 37%, 94%);
    color: #262621;

    .nav-link::after,
    .socialLink::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: 100%;
      height: 2px;
      background: #000;
      transform: scaleX(0);
      transform-origin: right center 0;
      transition: transform .7s cubic-bezier(.23,1,.32,1) 0s;
    }

    .container {
      margin: 0 auto;
      max-width: 1600px;
    }

    .linkedin, .github {
      margin-left: 40px;
    }

    .socialLink:hover {
        text-decoration: none;
    }

    .socialLink {
      position: relative;
      margin-right:40px;
      text-decoration: underline;
      font-size: 1.2rem;
      font-style: italic;
      font-weight: 300px;
      color: #000;
    }

    .nav-link:hover::after,
    .socialLink:hover::after {
        transform: scaleX(1);
        transform-origin: left center 0;
    }
  }
}


//MEDIAQUIERIES

//Extra-large-to-Large Screens
@media (max-width: 1400px) {
  body {
    .container {
      width: 1200px;
    }
  }
}


//Large-to-Medium Screens
@media (max-width: 1200px) {

  body {
    .container {
      width: 1000px;
    }
  }
}


//Medium Screens
@media (max-width: 1024px) {

  body {
    .container {
      width: 800px;
    }

    .socialLink {
      margin-right: 20px;
      font-size: 1rem;
    }

    .linkedin, .github {
      margin-left: 20px;
    }
  }
}


//Medium-to-Small Screens
@media (max-width: 900px) {

  body {
    .container {
      width: 700px;
    }
  }
}
